GKDM8D_1006/ember.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ember" type="emberTipus"/>
	
	<xs:complexType name="emberTipus">
		<xs:sequence>
			<xs:element type="xs:string" name="nev1"/>
			<xs:element type="xs:string" name="fizetes"/>
			<xs:element type="xs:string" name="nev"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>