gkdm8d_0929/mozi1.dtd

<!DOCTYPE mozi [

<!ELEMENT mozi (film)+>

<!ELEMENT film (rendezo+,szinesz,iro)>
<!ATTLIST film
	id CDATA #REQUIRED
	mufaj NMTOKEN #REQUIRED>

<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo
	id CDATA #REQUIRED
	nev NMTOKEN #REQUIRED>

<!ELEMENT szinesz EMPTY>
<!ATTLIST szinesz
	id CDATA #REQUIRED
	nev CDATA #REQUIRED>

<!ELEMENT iro EMPTY>
<!ATTLIST iro id CDATA #REQUIRED>

]>